body {
  padding: 0;
  margin: 0;
  width: 100vw;
}
.search-form {
  display: inline-block;
  margin-top: 20px;
  margin-left: 50vw;
  transform: translate(-50%);
}

.load-more {
  margin-left: 50vw;
  transform: translate(-50%);
  /* display: none; */
}

.gallery {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-gap: 1rem;
}

.photo-card {
  outline: 3px solid cadetblue;
  width: 20vw;
}
img {
  max-width: 20vw;
}
